body {
    background-color: #eeeeee;
    margin: 0px;
    font-family: 'Verdana', sans-serif;
}

/* header */
.hero {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "title image"
    "desc image";
}
header img {
    padding: 20dvh 0px;
    width: 80%;
    height: auto;
    grid-area: image;
}
header h1 {
    grid-area: title;
    text-align: left;
    font-size: 300%;
    align-self: end;
}
header h3 {
    grid-area: desc;
    text-align: left;
}
header h1, h3 {
    margin-left: 100px;
}
hr {
    width: 75%;
}

.grid-container {
    display:grid;
    grid-template-columns:  1fr 3fr;
    margin: 5px 30px
}

/* sidebar list itself*/
.sidebar ul {
    list-style-type: none;
    padding-right: 50px;
    padding-left: 0;
}
/* text in sidebar*/
.sidebar a {
    display:block;
    color: black;
    text-decoration: none;
    margin-top: 30px;
    font-size: large;
}
.sidebar a:hover {
    color: rgb(78, 88, 133);
}
.sidebar {
    position:sticky;
    top: 20%;
    padding-bottom: 60px;
}

/* video */
iframe {
    float:right;
    margin: 0px 0px 30px 30px;
}

/* banner */
.clipped-container {
    width: 100%;
    height: 200px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    margin-top: 100px;
}
.clipped-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top:0;
    position: fixed;
}

/* bibliography */
[id='6'] ul {
    font-family: none;
    margin-bottom: 100px;
    list-style-type: none;
    padding: 0;
}
[id='6'] li {
    margin-bottom: 20px;
}
[id='6'] {
    margin: 5px 20px;
}
[id='6'] h2 {
    margin-top: 50px;
}

/* hyperlink */
.content a {
    color:cadetblue;
}
.content a:hover {
    color:rgb(127, 211, 214);
}
.content a:visited {
    color:rgb(78, 88, 133);
}

/* each subheading */
.content {
    margin-bottom: 60px;
}

/* images */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height:300px;
}

#healthcare {
    float: left;
    width:40%;
    height: auto;
    margin: 30px 30px 30px 0px;
}

#graph {
    width: 60%;
    height: auto;
}
